#Head {
	font-size: 30px;
	color: white;
	font-weight: bold;
	background-color: lightgrey;
	width: 640px;
	padding: 30px ;
	text-align: center;
}

.Calculator{
	display: grid;
	grid-template-columns: repeat(7, 100px);
}

button{
	margin: 2px 2px;
	text-align: center;
	border: none;
	height: 40px;
	border-radius: 4px;
}

.func{
	background-color: lightgrey;
}

#Degree{
	color: ghostwhite;
}

#equal{
	background-color: blue;
	color: white;
}

#Answer{
	font-family: Times, sans-serif;
	font-size: 80;
	width: 700px;
	text-align: right;
}

#PreAns{
	font-family: Times, sans-serif;
	font-size: 80;
	width: 700px;
	text-align: right;
	color: gray;
}

#equal:hover{
	background-color: skyblue;
	cursor: pointer;
}

.number:hover{
	background-color: ghostwhite;
	cursor: pointer;
}

button:hover{
	background-color: whitesmoke;
	cursor: pointer;
}
